body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 700px;
  max-width: 90%;
}

h1 {
  text-align: center;
}

input[type="time"] {
  padding: 10px;
  margin-right: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  flex: 1;
}

.input-container,
.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#new-task,
#category,
#priority,
#due-date,
#search-task {
  padding: 10px;
  margin-right: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  flex: 1;
}

#add-task-btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-task-btn:hover {
  background-color: #00438b;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.filter {
  padding: 5px 10px;
  border: none;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
}

.filter.active {
  background-color: #007bff;
  color: white;
}

.filter:hover {
  background-color: #0056b3;
  color: white;
}

body.dark {
  background-color: #333;
  color: white;
}

body.dark .app {
  background-color: #444;
  color: white;
}

body.dark input,
body.dark select,
body.dark #add-task-btn {
  background-color: #555;
  color: white;
  border: 1px solid #888;
}

.toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
}

.dark-mode-btn {
  padding: 10px 20px;
  background-color: #f4f4f9;
  color: rgb(39, 39, 39);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode-btn i {
  margin-right: 8px;
}

.dark-mode-btn:hover {
  background-color: #555;
}

@media only screen and (max-width: 770px) {
  .input-container,
  .search-container {
    flex-direction: column;
  }

  #new-task,
  #category,
  #priority,
  #due-date,
  #search-task {
    margin-bottom: 10px;
  }
}
